#ignorons l'environnement virtuel et les dépendances spécifiques à ce projet
venv
/venv
venv/
__pycache__/
*.pyc
.env
.env.*
!.env.example
db.sqlite3
.env.example

# Ignorons les fichiers de configuration et de déploiement
PROJECT_HEALTH_AND_IMPROVEMENTS.md
lancement.md